@model FreelancersAPI.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mb-4">Register User</h1>

<div class="container register mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                <div class="mb-3">
                    <label asp-for="Username" class="form-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <div class="form-text text-danger">
                        <span asp-validation-for="Username"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <div class="form-text text-danger">
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <div class="form-text text-danger">
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Skillsets" class="form-label"></label>
                    <input asp-for="Skillsets" class="form-control" />
                    <div class="form-text text-danger">
                        <span asp-validation-for="Skillsets"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Hobby" class="form-label"></label>
                    <input asp-for="Hobby" class="form-control" />
                    <div class="form-text text-danger">
                        <span asp-validation-for="Hobby"></span>
                    </div>
                </div>

                <div class="d-flex justify-content-center gap-2">
                    <input type="submit" value="Register" class="btn btn-primary btn-equal-width" />
                    <a href="/" class="btn btn-secondary btn-equal-width">Home</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
